.filters {
    border: 2px solid black;
    margin: 20px;
    border-radius: 100px;
    background-color: #cbb5b5;

}

.filters:hover {
    background-color: #caa5a5;
}

.filters button {
    position: relative;
    left: 50%;
    padding: 5px 15px;
    margin: 5px;
    background-color: blue;
    color: white;
    border-radius: 15px;
    /* border: 1px solid lawngreen; */
}

.filters button:hover {
    /* border: 2px solid lawngreen; */
    color: black;
    cursor: pointer;
}

.outer_container {
    display: flex;
    justify-content: space-around;
    /* background-color: #cbb5b5; */
    padding: 50px;

}

.container {
    box-shadow: 0 0 9px black;
    border-radius: 10px;
    padding: 40px;
    background-color: white;
}

.container:hover {
    background-color: black;
    color: white;
}